<!-- --------------------------------------------------- Debug code --------------------------------------------------- -->
        <style type="text/css">

            div#w6Debug {
                width: 760px;
                padding: 20px;
                height: 300px;
                background-color: rgba(240,240,240,0.95);
                position: absolute;
                left: 200px;
                top: 48px;
                color: #222222;
                z-index: 1000;
                overflow-y: scroll;
                overflow-x: auto;
            }

            #w6Debug > h2 {
                color: #FFFFFF;
                padding: 4px 20px;
                margin: 0px;
                width: 760px;
                height: 24px;
                line-height:24px;
                vertical-align: center;
                background-color: #FF5511;
                position: relative;
                
                position: fixed;
                left: 200px;
                top: 24px;
                z-index: 1001;
            }

            #w6Debug > p {
                color: #555555;
                font-family: Courier;
                font-size: 10pt;
                line-height: 125%;
                
                list-style-type: decimal;
                list-style-position: inside;
                
                color: #222222;
                
                margin-bottom: 0px;
            }
            
            #w6Debug > p > span.lineNumber {
                color: #0000FF;
                min-width: 18px;
                display: inline-block;
            }
            
            #w6Debug > p > span.objectName {
                color: #FF0000;
                min-width: 40px;
                display: inline-block;
                
                text-align: right;
                padding-right: 4px;
            }
            
            #w6Debug > p strong {
                font: Courier 10pt;
            }

        </style>
        <h2 style="">DEBUG WINDOW</h2>
    
    <script type="text/javascript">
        var w6DebugList = document.getElementById('w6DebugList');
    </script>
<!-- ------------------------------------------------- End Debug code ------------------------------------------------- -->
