@font-face {
    font-family: 'Bold';
    src: url(//:) format('no404'), 
    url('webfont-bold.woff') format('woff'), 
    url('webfont-bold.svg#webfont-bold') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Normal';
    src: url(//:) format('no404'), 
    url('webfont-normal.woff') format('woff'), 
    url('webfont-normal.svg#webfont-normal') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url(//:) format('no404'), 
    url('webfont-light.woff') format('woff'), 
    url('webfont-light.svg#webfont-light') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Oblique';
    src: url(//:) format('no404'), 
    url('webfont-normal.woff') format('woff'), 
    url('webfont-normal.svg#webfont-normal') format('svg');
    font-weight: normal;
    font-style: italic;
}