/*

	Atripla E-detailer

	1.0 	-	iPad Preparation
	1.1		-	CSS reset
	1.2		-	Page basics
	1.3		-	Background Objects
	1.4		-	Column setup
	1.5		-	Headings
	1.6		-	Font styles
	1.7		-	Bulleted lists
	1.8		-	miscellaneous
	1.9		-	Tables
	2.0		-	Modal windows
	2.1		-	Graphs
	2.2		-	Page-specific
		2.2.1   -   Patient Report
		2.2.2   -   Patient's Risk
	2.3		-	Timeline
	2.4		-	Buttons and form elements
	2.5		-	Tooltips


*/


/*************************************************************************************************************  1.0  ***

iPad Preperation

***********************************************************************************************************************/

<!—-
    * {
       -webkit-text-size-adjust: none; /* Disables automatic text resizing */
       -webkit-user-select: none; /* Disables text selection. */
    }
-->


/*************************************************************************************************************  1.1  ***

CSS Reset v2.0 | 20110126
http://meyerweb.com/eric/tools/css/reset/

***********************************************************************************************************************/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, capxion, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcapxion, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcapxion, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*************************************************************************************************************  1.2  ***

Page basics

***********************************************************************************************************************/


html, body { width: 1024px; height: 768px; overflow: hidden; }

body {
	background: #f8f8f8;
	color: #d2dce4;
	font-family: Light;
	font-size: 20px;
	padding: 0px;
	line-height: 22px;
	overflow: hidden;
	letter-spacing: 0.02em;
	}
	
	
#container {
	width: 1024px;
	height: 648px;
	padding: 40px 0px 80px;
	margin: 0px auto;
	overflow: hidden;
	background: url('background.jpg') #49545f no-repeat 50% 0%;
	}

#container > div {
	z-index: 10;
	position: relative;
}


/* Base info panel ? */

/** Added 19/11/2012 **/
div#baseInfoPanel {
    width: 100%;
    height: auto;
    z-index: 100;
    
    position: absolute;
    bottom: 10px;/*-116px;*/
    left: 0px;
    
    background-color: rgba(33, 39, 44, 0.95);
}

div#baseInfoPanel #toggleBar {
    display: block;
    padding: 0px 147px 0px 122px;
    height: 50px;
    vertical-align: middle;
    font: 17px/50px Normal;
	color: #fff;
    text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.1em;
	cursor: pointer;
	
	background: url(base_info_panel_arrow.png) no-repeat 886px 18px;
}

div#baseInfoPanel.open #toggleBar.open {
	background: url(base_info_panel_arrow_close.png) no-repeat 886px 16px;
}

div#baseInfoPanel #contentBar {
    padding: 10px 270px 28px 126px;
    font: 23px/25px Light;
    color: #FFFFFF;
    display: none;
}



/*************************************************************************************************************  1.3  ***

Background Objects

***********************************************************************************************************************/
 
div.backgroundObject,
img.backgroundObject {
    position: absolute;
    z-index: 5;
}

div.backgroundObject.foreground,
img.backgroundObject.foreground {
    z-index: 1000;
} 

/* Page 1 - Reports */
img#page1Scan {
    right: -420px;
    top: -197px;
    
    -webkit-transform: rotate(-22deg);
}

img#page1Vials {
    left: 70px;
    top: 440px;
}

img#page8Furniture {
    left: 0px;
    top: 0px;
    -webkit-user-select:none;
}

img#page11Furniture {
    left: 0px;
    top: 0px;
    z-index: 1;
    -webkit-user-select:none;
}

/*************************************************************************************************************  1.4  ***

Columns

***********************************************************************************************************************/

ul { /* fixes float errors */
	display: block;
	}

/* For the main container */
div.columns {
	width: 880px;
	margin: 0px 0px 0px 112px;
	overflow: hidden;
	}


.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, col12
	{
	overflow: visible;
	float: left;
	margin: 0px 10px;
	}	

/* Column widths */

.col1  { width:  60px; }	
.col2  { width: 140px; }
.col3  { width: 220px; }	
.col4  { width: 300px; }
.col5  { width: 380px; }
.col6  { width: 460px; }
.col7  { width: 540px; }
.col8  { width: 620px; }
.col9  { width: 700px; }
.col10 { width: 780px; }
.col11 { width: 860px; }
.col12 { width: 940px; }




/*************************************************************************************************************  1.5  ***

Headings

***********************************************************************************************************************/

h1 {
	font: 62px/50px Bold;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: #fff;
	white-space: nowrap;
	overflow: visible;
	margin: 20px 0px 30px;
	}

	
h2 {
	font: 24px/22px Normal;
	margin: 10px 0px 25px;
	color: #fff;
	letter-spacing: 0.03em;
	font-weight: normal;
	}
	
h2.largeh2 {
	font: 28px/22px Normal;
	letter-spacing: 0;
	}
	
	
h3 {
	font: 22px/22px Normal;
	margin: 10px 0px 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	}
	
	
h3.caseReview {	
	font: 30px/30px Normal;
	color: #d2dce4;
	margin: 0px;
}

h3.caseReview sup {
	top: -13px;
	}


h4 { font: 18px/20px Normal; }

h6 { font: 15px/20px Normal; }

dd h3.caseReview { color: #fff; margin: 10px 0px; }
	

	
/*************************************************************************************************************  1.6  ***

Font styles

***********************************************************************************************************************/

strong, b, .strong {
	font-family: Normal;
	}
	
strong em, em strong { font-family: Bold; font-style: italic; }

span.radio strong { font-family: helvetica; font-weight: bold; }

em, i {
	font-style: italic;
	}
	
p {
	margin-bottom: 9px;
	}


sup, .superscripx {
	font-size: 11px;
	color: inherit;
	position: relative;
	top: -8px;
	font-family: light;
	line-height: 10px;
	}
    
sub {
	font-size: 55%;
	color: inherit;
	position: relative;
	top: 2px;
	}

h1.aside sup {
	margin: 0px 0px 0px -10px;
	top: -21px;
	}

h1 sup {
	margin: 0px -12px 0px 5px;
	top: -37px;
	line-height: 10px;
	}

sup.clickable {
	padding: 15px 20px;
	cursor: pointer;
	margin: -19px 0px 0px -20px;
	
	-webkit-border-radius: 7px;

	z-index: 10;
}

sup.clickable:active {
    background-color: rgba(32, 32, 32, 0.5);
}

h1.aside sup.clickable {
    margin: 0px 0px 0px -10px;
	top: -21px;
	cursor: pointer;
}

h1 sup.clickable {
    margin: 0px -12px 0px -15px;
	top: -37px;
	cursor: pointer;
}

.callout sup.clickable { margin-left: -16px; }
.reference sup { top: -5px; margin-right: 2px; }	

.textRight { text-align: right; }
.textCenter { text-align: center; }
.textJustify { text-align: justify; }


h1 small { font-size: 66% !important; vertical-align: center; }
small, .small { font-size: 15px; line-height: 17px; }
.small p { margin-bottom: 3px; }
.small h2 { margin-bottom: 10px; font-size: 20px; }

.pbsBox { background: #fff; border: 1px solid #000; padding: 12px 20px 11px; font: 20px/24px Light; color: #333; }


.allcaps {
    text-transform: uppercase;
}

/*************************************************************************************************************  1.7  ***

Bullets (for normal bulleted lists)

***********************************************************************************************************************/

div.columns ul, div.columns ol, ul.normal {
	display: block;
	margin: 0px 0px 0px 20px;
	}
	
div.columns ol { margin-left: 24px; }

div.columns ul li, div.columns ol li, ul.normal li {
	list-style: outside disc;
	margin: 0px 0px 10px;
	padding: 0px 0px 0px 12px;
	}
	
div.columns ul.noBullets { margin-left: 0px; }

div.columns ul.noBullets li {
	list-style: none;
	padding-left: 0px;
	}
	

div.columns ol li { list-style: outside decimal; }

/* for mandatories page */
div.columns.small ol { margin-left: 20px; }
div.columns.small ol li { margin-bottom: 3px; padding-left: 2px; }
	
	
/*************************************************************************************************************  1.8  ***

Misc

***********************************************************************************************************************/

a:link    { color: #00999a; text-decoration: none; }
a:visited { color: #00999a; text-decoration: none; }
a:hover   { color: #555555; text-decoration: none; }
a:active  { color: #555555; text-decoration: none; }


.invisible { display: none; }
.rightFloat { float: right; }
.leftFloat { float: left; }
.allowOverflow { overflow: visible !important; }
.lowerCase { text-transform: lowercase; }

.relative { position: relative; }

.margin0 { margin: 0 !important; }

.top-20 { margin-top: -20px; }
.top0  { margin-top:  0px !important; }
.top10 { margin-top: 10px !important; }
.top15 { margin-top: 15px !important; }
.top20 { margin-top: 20px !important; }
.top25 { margin-top: 25px !important; }
.top30 { margin-top: 30px !important; }
.top35 { margin-top: 35px !important; }
.top40 { margin-top: 40px !important; }
.top45 { margin-top: 45px !important; }
.top50 { margin-top: 50px !important; }
.top60 { margin-top: 60px !important; }
.top100 { margin-top: 100px !important; }
.top200 { margin-top: 200px !important; }

.bottom0  { margin-bottom:  0px !important; }
.bottom10 { margin-bottom: 10px !important; }
.bottom20 { margin-bottom: 20px !important; }
.bottom30 { margin-bottom: 30px !important; }
.bottom40 { margin-bottom: 40px !important; }
.bottom50 { margin-bottom: 50px !important; }
.bottom60 { margin-bottom: 60px !important; }

.paddingL40 { padding-left: 40px;}

.topPad10	{padding-top: 10px; }

.bottomPad10	{padding-bottom: 10px; }



.left120 { position: relative; left: 120px !important; } /* lines up with edge of bar graph */
.top100 { position: relative; top: 100px !important; } /* lines up with edge of bar graph */

/* primarily used for adjusting sizes of buttons */
.width80 { width: 80%; } 
.width90 { width: 90%; }


/* text colour */
.whiteText	 { color: #fff !important; }
.lightBlue   { color: #d2dce4 !important; }
.darkText    { color: #333 !important; }
.greyText	 { color: #555 !important; }

/* reference/source text */

div.reference { font: 15px/18px Light; margin-top: 10px; }


hr {
	clear: both;
	height: 119px; /* 1px extra generated by border = 120 */
	margin: 20px 0px -90px;
	padding: 0;
	border: 0;
	border-top: 1px solid rgba(0,8,15,0.27);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,	
		color-stop(0, rgba(0,8,15,0.2)),
		color-stop(0.8, rgba(0,8,15,0))
	);
   position: relative;
   z-index: 0  !important;
	}


div.callout {
    min-width: 200px;
    max-width: 731px;
    
    height: 55px;
    padding: 15px 30px 15px 120px;
    
    position: absolute;
    left: 0px;
    top: 664px;
    
    color: rgba(211, 114, 22, 1);
    
    background: url(calloutBackground.png) top right no-repeat;
    
    font: 21px/25px Normal;
    }
    
div.callout.oneline { line-height: 45px; }
    

/* Switches */

.switch {
	margin: 10px 0px 0px -20px;
	background:  url('switch.png') transparent no-repeat -28px 0;
	display: block;  	
	width: 327px;
	height: 175px;
	-webkit-user-select: none;
	
	cursor: pointer;
}
 

.switch.noPosition {
	background-position: -28px -175px;
	color: #fff;
	}
	
	
/* 	Definition lists - Glossary */

dl { 
	z-index: 100;
	-webkit-columns: 4;
	-webkit-column-gap: 5px;
	position: absolute;
	top: 170px;
	height: 390px;
	}

dl dt {
	display: inline-block;
	width: 100%;
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	white-space: nowrap;
	border-top: 1px solid rgba(255,255,255,0.2);
	font-size: 19px;
	letter-spacing: 0.05em;
	padding: 0px 0px 0px 5px;
	-webkit-transition: background 0.3s linear;
	
	}

dl dt:nth-of-type(odd) { background: rgba(0,0,0,0.1); }
dl dt:nth-of-type(even) { background: rgba(0,0,0,0.15); }

dl dt:hover, dl dt.active { background: rgba(255,255,255,.1); color: #fff; }

dl dt strong { padding-right: 1px; color: #fff; }
	
dl dd {
	width: 740px;
	
	height: 174px; 
	padding: 10px 120px 15px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.2);

	position: absolute;
	top: -199px;
	
	display: none;
	}


dl dd.active { display: block; }

/* "Advance to Timeline" box */
div.advanceToTimeline {
    background: url(pagescommon_advanceToTimelineBox.png) no-repeat left top;
    min-width: 771px;
    min-height: 102px;
    
    margin-top: 100px;
}

    div.col12.advanceToTimeline img.patientPaperClip {
        margin-top: -48px;
        margin-left: -12px;
    }
    
    div.col12.advanceToTimeline hgroup {
        margin-top: 8px;
        margin-bottom: -4px;
    }
    
    div.col12.advanceToTimeline a.button {
        margin-top: -32px;
        margin-left: 40px;
        
        width: 180px;
    }
 
/* glow for 720x405 video */    

img.videoGlow {
	position: absolute;
	top: 192px;
	left: 83px;
	width: 805px;
	height: 540px;
	}
    
/*************************************************************************************************************  1.9  ***

Tables

***********************************************************************************************************************/

table { 
	width: 100%; 
	}
	
table.bordered { 
	border-collapse: separate;
	border-spacing: 2; }

th, td {
	min-height: 50px;
	font: 18px/50px Normal;
	background: rgba(104,115,124,0.9);
	color: #fff;
	text-align: center;
	vertical-align: middle;
	}
	
table.bordered th, td { border: 1px solid rgba(0,10,20,0.2); }
	
table .doubleRow { line-height: 25px; }
	
tr:nth-of-type(odd) td {
	background: rgba(210,220,228,0.3);
	}
	
th { background: #d37216; }

td.empty, th.empty { background: transparent; border: 0 !important; }

/* selectable rows */

table.selecTable td {
	-webkit-transition: background 0.3s linear;
	
	}

tr.activeRow td { background: rgba(255,255,255,0.9) !important; color: #4f5761; }

/* for guidelines popups */

.guideLines table {
	width: 1024px;
	position: relative;
	left: -122px;
	margin-bottom: 20px;
	border-bottom: 3px solid #d37216;
	}

.guideLines td, .guideLines th { 
	background: transparent; 
	color: inherit; 
	text-align: left;
	padding: 15px 20px 10px 15px;
	vertical-align: top;
	font: 18px/24px Light;
	border: 0;
}

.guideLines tr:nth-of-type(odd) td {
	background: transparent;
	}

.guideLines tr td:nth-of-type(1) { font: 20px/24px Normal; }
.guideLines tr td:nth-of-type(1), .guideLines tr th:nth-of-type(1) { padding-left: 122px; }	
.guideLines tr td:nth-of-type(2) { background: rgba(211,114,22,0.1); }
.guideLines tr td:nth-of-type(3) { background: rgba(211,114,22,0.2); }

.guideLines tr:last-of-type td { padding-bottom: 30px; }

.guideLines th { 
	font: 22px/24px Normal; 
	text-transform: uppercase; 
	color: #fff; 
	height: 56px; 
	padding: 10px 0px 0px 15px; 
}
	
.guideLines th span { font: 18px/25px Normal; display: block; }

.guideLines table.bannerHead {
	background: url('guidelines_background_tableHeading.png') transparent no-repeat 0 0;
	}
	


/*************************************************************************************************************  2.0  ***

Guidelines

***********************************************************************************************************************/

div.referGuidelines {
	background: url('referGuidelines.png') transparent no-repeat 0 0;
	width: 235px;
	height: 68px;
	position: absolute !important;
	top: 768px;
	right: 12px;
	text-indent: -9999px;
	cursor: pointer;
	}
	
div.guideLines div.closeButton {
	background: url('icon_close.png') transparent no-repeat 0 0;
	width: 94px;
	height: 44px;
	display: block;
	position: absolute;
	right: 26px;
	top: -120px;
	z-index: 120;
	cursor: pointer;
	}
	
div.guideLines div.closeButton.minimiseButton {
	background: url('icon_minimise.png') transparent no-repeat 0 0;
	width: 112px;
	right: 126px;
	}

div.guideLines {
	color: #555;
	z-index: 100;
	position: absolute;
	top: 768px;
	left: 0;
	width: 1024px;
	min-height: 620px;
	overflow: visible;
	background: url('guidelines_background.png') transparent repeat-y 0 0;
	margin-top: 148px;
	margin-right: -122px;
	-webkit-box-sizing: border-box;
	padding: 15px 0px 40px 122px;
/*	-webkit-transition: top 1.5s ease-in-out; */
	}

div.guideLines.active, div.guideLines.databank { top: 0px; min-height: 620px !important; }

div.guideLines h1 { color: #555; }


div.guideLines hgroup.mainHeading {
	background: url('guidelines_backgroundTop.png') transparent no-repeat 0 0;
	height: 148px;
	width: 1024px;
	position: absolute;
	top: -148px;
	left: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	padding: 40px 0px 0px 122px;
	}
	
div.guideLines hgroup.mainHeading h2 { 
	position: relative;
	top: -51px;
	left: 284px;
	color: #d37216;
	width: 530px;
	margin: 0;
	}
	
div.guideLines h2 { color: #d37216; }
	
div.guideLines hgroup.mainHeading h2.twoLines { top: -73px; }
	

div.guideLines hgroup.sectionHeading {
	background: url('guidelines_background_sectionHeading.png') transparent no-repeat 0 0;
	position: relative;
	left: -122px;
	height: 51px;
	-webkit-box-sizing: border-box;
	padding: 0px 0px 0px 122px;
	width: 1024px;
	}

div.guideLines hgroup.sectionHeading.subHeading {
	background: url('guidelines_background_sectionSubHeading.png') transparent no-repeat 0 0;
	margin-top: -10px;
	}

div.guideLines hgroup.sectionHeading h3 { color: #fff; line-height: 51px; width: 600px; }
div.guideLines hgroup.sectionHeading.subHeading h3 { color: #555; }

	
div.guideLines ul {
	margin: 15px 0px 29px 20px;
	}
	
div.guideLines ul li {
	margin-bottom: 10px;
	}

/*************************************************************************************************************  2.1  ***

Graphs

***********************************************************************************************************************/


/* graph basics */
.percentValue { 
	font: 36px/40px Normal;
	color: #fff;
	}
	
.percentValue meter {
    position: relative;
    width: auto;
    height: auto;
    
    margin: 0px 10px 0px 0px;
    top: -7px;
}


.percentValue span, hgroup.graphPeopleValues .percentValue p {
	font: 23px/40px Normal;
	color: #d2dce4;
	text-transform: uppercase;
    }
    
    

/* for bar charts from 0-100% */
.graph100 { 
	background: url('graph_Axis100.png') transparent repeat-y 120px 100%;
	padding: 1px 0px;
	margin: 0px 0px 5px;
	
	}
	
.graph100 .barWrapper {
	margin: 10px 0px;
	height: 40px;
	}

.graph100.extraLarge div.barWrapper {
	height: 60px;
}

.graph100.extraLarge div.barWrapper div.bar {
    height: 50px;
}

	
.graph100 .bar {
	display: block;
	width: 500px; /* width must be in pixels, max 500px, 10px per 2% */
	height: 40px;
	overflow: hidden;
	position: relative;
	left: 0;
	float: left;
}

.graph100 .bar div { /* gives the bar colour */
	height: 100%;
	width: 500px; 
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,	
		color-stop(  0, rgba(255, 138,  0, 0.8)),
		color-stop(0.2, rgba(211, 114, 22, 0.8)),
		color-stop(  1, rgba(180,   0, 63, 0.9))
		);
	}
	
.graph100 .userBar .bar div { background: rgba(255,255,255,0.9); }

.graph100 .barWrapper div.percentValue { 
	position: relative;
	top: -1px;
	float: left;
	left: 10px;	
	}

.graph100.extraLarge .percentValue { line-height: 50px; }   

.graph100 .barLabel { 
	width: 120px; 
	float: left;
	font: 19px/40px Normal;
	white-space: nowrap;
	}

.graph100 .barLabel.multiLine { line-height: 24px; }
	
.graph100 .barLabel.breakable {
    line-height: 100%;
}
	

.percentValue sub { text-transform: lowercase; font: 16px Light; top: 0px; }

/* For X-axis labels */
div.xAxisLabel { width: 500px; padding-left: 120px; font: 19px/40px Normal; text-align: center; }
	
/* for people comparison charts */

.graphPeople {
	width: 632px;
	padding: 10px 8px 45px 4px;
	background: url('graph_people.png') no-repeat 0 100%;
	margin: 10px 0px 5px;
	}

.graphPeopleMask {
	width: 620px;
	height: 133px;
	-webkit-mask: url('graph_peopleMask.png') no-repeat 0 0;
	background: rgba(211,114,22,0.9); 
	}
	
.graphPeopleMask div#comparisonBar {
	height: 150px;
	background: rgba(255,255,255,1);
	width: 0%;
	}
	
hgroup.graphPeopleValues {
	position: relative;
	top: 50px;
	left: 23px;
	}
	
hgroup.graphPeopleValues h1 { 
	background: url('graph_valueBullets_white.png') transparent no-repeat 0 0;
	padding-left: 39px;
	}
hgroup.graphPeopleValues h1.notChosen { 
	background: url('graph_valueBullets_orange.png') transparent no-repeat 0 0;
	}
	
hgroup.graphPeopleValues h1, hgroup.graphPeopleValues p { margin: 0px; line-height: 20px; }
hgroup.graphPeopleValues h1.notChosen { color: rgba(211,114,22,1); }

hgroup.graphPeopleValues p { margin-bottom: 10px; }


.guideLines .graphPeople { background: url('graph_people_guideLines.png') no-repeat 0 100%; }

.guideLines .graphPeopleMask { background: rgba(191,197,202,0.9); }
.guideLines .graphPeopleMask div#comparisonBar { background: rgba(211,114,22,1); }


    
/*************************************************************************************************************  2.2  ***

2.2 Page-specific

***********************************************************************************************************************/

	img#backgroundReports {
        position: absolute;
        left: 0;
        bottom: 0;
		width: 181px;
		height: 390px;
    }
    
    img#backgroundXRay {
        position: absolute;
        right: 0;
        top: 0;
		width: 350px;
		height: 226px;
    }

    img#backgroundXRay.leftCorner {
        left: -335px;
        top: -270px;

        -webkit-transform: rotate(340deg);
        -moz-transform: rotate(340deg);
        transform: rotate(340deg);

        width: 570px;
        height: auto;
    }

/***********************************************************************************************************  2.2.1  ***
    
    2.2.1 Patient Report
    
    *******************************************************************************************************************/
    
    div#page1button {
    	position: absolute;
    	top: 530px;
    	right: 1px;
    	}
    
    div.reportBoxes > div {
        background: url(page1_reportBoxes.png) no-repeat;
        padding: 10px 0px 0px 20px;
        
        min-height: 200px;
        
        position: absolute;
        
        top: 80px;
        left: 0px;
    }
    
    div.reportBoxes > div:nth-child(2) {
        background-position: -350px 0px;
        padding: 10px 16px 0px 65px;
        
        left: auto;
        right: -25px;
        top: 240px;
    }
    
    div.reportBoxes > div:nth-child(3) {
        width: 560px;
        background-position: 0px -310px;
        
        min-height: 100px;
        padding: 55px 0px 20px 70px;
        
        left: -50px;
        right: -15px;
        top: 455px;
    }
    
    div.reportBoxes > div > h3 {
        margin: 10px 0px 10px 0px;
    }
    
    div.reportBoxes > div ul li {
        list-style-image: url('bulletPoint.png');
    }
    
    div.reportBoxes > div p,
    div.reportBoxes > div li {
        margin: 5px 0px;
        max-width: 150px;
    }
    
    div.reportBoxes > div:nth-child(3) p {
        max-width: none;
    }
    
    div#reportDocuments {
        position: absolute;
        left: 50%;
        margin-left: -185px;
        
        top: 50%;
        margin-top: -245px;
    }

/***********************************************************************************************************  2.2.2  ***
    
    2.2.2 Patient's Risk
    
    *******************************************************************************************************************/
    
    div.columns.riskKnob {
        position: absolute !important;
        left: -60px;
    }
    
    div#knob {
        background: url(page2_knobBackground.png) center center no-repeat;
        min-height: 500px;
        -webkit-user-select: none;
    }
    
    div#knob > img#knobFace {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -113px;
        margin-top: -105px;
        
        -webkit-transform: rotate(0deg);
        -webkit-user-select: none;
    }
    
    div#knob > ul#knobValues {
    	position: relative;
    	top: 213px;
    	left: -60px;
    	}
    
    div#knob > ul#knobValues > li {
        width: auto;
        height: auto;
        
        position: absolute;
        list-style-type: none;
        
        padding: 20px 10px;
        
        left: 50%;
        top: 50%;
    	
    	font: 18px/20px Normal;
    	letter-spacing: 0.04em;
    	text-align: center;
    	text-transform: uppercase;
    	
    	text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
    	
    	-webkit-transition: text-shadow .15s linear;
    }
    
    div#knob > ul#knobValues > li.active {
        color: #fff; text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 0px 0px 12px rgba(255,255,255,0.9);
    }
    
    div#knob > ul#knobValues > li:nth-child(1) { margin-left: -230px; margin-top: 30px; }
    div#knob > ul#knobValues > li:nth-child(2) {
        margin-left: -230px; margin-top: -120px;
        max-width: 100px;
        text-align: right;
        }
    
    div#knob > ul#knobValues > li:nth-child(3) { margin-left: -18px; margin-top: -190px; }
    div#knob > ul#knobValues > li:nth-child(4) {
        margin-left: 214px; margin-top: -120px;
        max-width: 100px;
        text-align: left;
        }
    div#knob > ul#knobValues > li:nth-child(5) { margin-left: 252px; margin-top: 30px; }
    
    div#knobButton {
    	position: absolute;
    	left: 50%;
    	margin-left: -100px;
    	top: 450px;
    	}

/***********************************************************************************************************  2.2.2  ***
    
    2.2.5 Radiography Results
    
    *******************************************************************************************************************/
    
    div.columns.xRayBox {
        overflow: visible;
    }
    
    div#xray_hype_container {
        position: relative;
        left: -30px;
        top: -34px;
        margin-bottom: -44px;
        background-image: url(page5_xrayOff.png);
    }
    
    a#xRaySwitch {
        display: block;
        margin-top: 200px;        
        height: 93px;
        border-radius: 7px;
        
        margin-left: 20px;
        
        background-image: url(page5_xRaySwitch.png);
        background-repeat: no-repeat;
    }
    
    a#xRaySwitch:active {
        background-color: rgba(240,240,240, .15);
        background-image: url(page5_xRaySwitchFlipped.png);
    }

    a#xRaySwitch h3 {
        font: 19px/19px normal;
        line-height: 73px;
        vertical-align: middle;
        float: left;
        padding: 0px 0px 0px 60px;
    }
    

/***********************************************************************************************************  2.2.2  ***
    
    2.2.6 Case Review 2-B
    
    *******************************************************************************************************************/
    
    .organismChart {
        position: relative;
        top: 25px;
        left: -10px;
        width: 400px;
        height: 400px;
        overflow: visible;
        }
    
    .organismChart img.pieChart {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 1;
   		}
   	
   	.organismChart img.pieChartTinySegments {
   	    position: absolute;
   	    top: -15px;
   	    left: 3px;
   	}
    
    .organismChart .chartSegment {
    	position: absolute;
    	-webkit-transform: scale(1.0);
    	-webkit-transition: -webkit-transform 0.8s ease-in-out;
    	z-index: 10;
    	cursor: pointer;   	
    	}
    
    .chartSegment#aspergillus {
    	background: url('pagecase2b_chartSeg_Aspergillus.png') transparent no-repeat 0px 0px;
	    width: 203px;
	    height: 364px;
	    top: -1px; 
	    left: 182px; 
	    }
    
    
    .chartSegment#candida {
    	background: url('pagecase2b_chartSeg_Candida.png') transparent no-repeat 0px 0px;
    	width: 273px;
    	height: 202px;
	    top: 182px; 
	    left: 9px; 
	    }
    
    .chartSegment#zygo {
    	background: url('pagecase2b_chartSeg_Zygo.png') transparent no-repeat 0px 0px;
    	width: 199px;
    	height: 109px;
	    top: 141px; 
	    left: 0px; 
	    }
    
    
    
    .organismChart .chartSegment:hover {
	    -webkit-transform: scale(1.08);
	    -webkit-transition: -webkit-transform 0.3s ease-in-out;
	    z-index: 11;
	   }
    

    div.organismSelection ul {
    	padding-top: 50px; 
    	}
    	
    div.organismSelection ul li {
        font: 66px/10px Bold;
        padding: 0px;
        margin: 0px;
        list-style-type: disc inside;
    	}
    
	div.organismSelection ul li.huge { cursor: pointer; }
    
    
    div.organismSelection ul li > p {
    	display: inline-block;
        font: 24px/25px light;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: -13px;
        color: #d2dce4;        
   		}
    
    div.organismSelection ul li > p span { font-family: Normal; width: 50px; text-align: right; float: left; display: block; margin-right: 15px;  }
    

    div.organismSelection ul li.huge > p {
        font: 36px/35px normal;
        top: -10px;
        margin-bottom: 7px;
        color: #fff;
    	}
    
    div.organismSelection ul li:nth-of-type(1) { color: #fff; }
    div.organismSelection ul li:nth-of-type(2) { color: #d37216; }
    div.organismSelection ul li:nth-of-type(3) { color: #414a52; }
    div.organismSelection ul li:nth-of-type(4) { color: #b4003f; }
    div.organismSelection ul li:nth-of-type(5) { color: #4e555b; }
    div.organismSelection ul li:nth-of-type(6) { color: #c5c0ba; }
    div.organismSelection ul li:nth-of-type(7) { color: #818f8e; }
    
    
    /*******************************************************************************************************  2.2.2  ***
    
    2.2.7 Case Review Exit
    
    *******************************************************************************************************************/
    
    
     div .columns.caseEndBorder { 
        background: url('pagecase0_border.png') transparent no-repeat 80px 100%;
        }
     	
     div .columns.caseEndBorder .patientPaperClip {
        position: relative;
        left: -10px;
        }

/***********************************************************************************************************  2.2.2  ***
    
    2.2.7 Patient Profile (page 0)
    
    *******************************************************************************************************************/
    
    
    img.backgroundObject.fullPage {
        background: url(page0_background.png) left top no-repeat transparent;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        }
	  
    div.columns.patientInfo {
        left: 240px;
        top: 105px;
        }
	  
    div.columns.patientInfo img {
        position: relative;
        float: left;
        left: -10px;
        top: -30px;
        }
        
        
	/*******************************************************************************************************  2.2.2  ***
    
    DB 8-1 Databank 8-1 (graph)
    
    *******************************************************************************************************************/
    
    div#graph_databank8_1 {
    	width: 781px;
    	height: 383px;
    	background: url('graph_databank_8_1.png') transparent no-repeat 0 0;
    	position: relative;
    	}
    	
    div#graph_databank8_1 div {
    	width: 0%;
    	height: 383px;
    	background: url('graph_databank_8_1a.png') transparent no-repeat 0 0;
    }
    
    div#graph_databank8_1 ul {
		width: 781px;
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		bottom: -10px;
		overflow: hidden;
    }
    
    div#graph_databank8_1 ul li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		float: left;
		width: 25%;
		text-align: left;
		padding: 10px;
		-webkit-box-sizing: border-box;
		color: #d2dcef;
    }
    
    div#graph_databank8_1 ul li span {
    	display: none;
    	}
    
    
/***********************************************************************************************************  2.2.2  ***
    
    DB 8-5 Databank 8-5 (person graph)
    
    *******************************************************************************************************************/
    
    #graph_db_8_5 {
    	background: url('graph_databank_8_5.png') transparent no-repeat 0px 0px;
    	width: 292px;
    	height: 169px;
    	float: left;
    	padding: 20px 35px;
    	-webkit-box-sizing: border-box;
    	}
    	
    #graph_db_8_5 ul {
    	position: relative;
    	top:1px;
    	left: 5px;
    	overflow: hidden;
    	height: 130px;
    	}
    
    #graph_db_8_5 ul, #graph_db_8_5 ul li {	
    	margin: 0;
    	padding: 0;
    	list-style: none;
    	}
    	
    #graph_db_8_5 ul li {
		background: url('graph_personGraphic.png')	transparent no-repeat 0px 0px;
		width: 13px;
		height: 24px;
		line-height: 24px;
		display: block;
		float: left;
		text-indent: -9999px;
		margin-right: -3px;
		margin-bottom: 2px;
		display: none;		
    	}
    
     #graph_db_8_5 ul li:nth-child(10n) {
     	margin-right: 5px;
     	}
    
/************************************************************************************************************  2.2.3 ***
    
    Targeted Page Drag-and-drop Pie Chart
    
    *******************************************************************************************************************/
    
    div#pieArea {
        height: 400px;
    }
    
    h1.pieValue {
        position: absolute;
        top: 50%;
        margin-top: -75px;
        margin-left: -30px;
    
    }

    h1.pieValue div.pieValue {
        font: 62px/72px Normal;
        color: #b4003f;
        
        width: 140px;
        text-align: right;
        display: inline-block;
        
        margin-right: 10px;
    }
    
    h1.pieValue div.pieValueText {
        font: 27px/34px Light;
        text-transform: none;
        
        line-height: 100%;
        display: inline-block;
        margin-top: -20px;
    }

/************************************************************************************************************  2.2.4 ***
    
    Targeted videos (Safety, etc.)
    
    *******************************************************************************************************************/

    .videoSwitcher {
        margin-top: 20px;
    }
    
    .videoSwitcher .buttons a.button {
        margin: 0px 10px;
    }
    
    .videoSwitcher .buttons a.button.extraLong {
    
    }
    
/************************************************************************************************************  2.2.5 ***
    
    Interactions Drag & drop Lists
    
    *******************************************************************************************************************/

    div.interactionsList {
        width: 183px;
        height: 400px;
        
        margin: 0px 6px;
        padding: 0px;

        display: inline-block;
        
        overflow-x: hidden;
        overflow-y: scroll;
        
        position: relative;

        -webkit-transition: all 0.2s ease-out; 
        transition: all 0.2s ease-out;

    }
    
    div.interactionsList:first-child { margin-left: 0px; }
    div.interactionsList:last-child { margin-right: 0px; }

    div.interactionsList.zoom { width: 260px; }
    
    div.interactionsList.zoomOut {
        width: 160px;

        padding: 0px 0px;
        margin: 0px 0px;
    }
    
    div.interactionsList ul.interactionsList {
        /**
         * Had to put div.interactionsList before all references to 
         * ul.interactionsList override "div.columns ul li".
         **/
        display: block;
        width: 186px;
        
        -webkit-transition: all 0.2s ease-out; 
        transition: all 0.2s ease-out;
        
        padding: 0px;
        margin: 0px;
        
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    div.interactionsList ul.interactionsList.list0 { top: 14px; }
    div.interactionsList ul.interactionsList.list1 { top: 148px; }
    
    div.interactionsList ul.interactionsList.list2,
    div.interactionsList.zoom ul.interactionsList.list2 { top: auto; bottom: 0px; }
    div.interactionsList ul.interactionsList.list3,
    div.interactionsList.zoom ul.interactionsList.list3 { top: auto; bottom: 0px; }

    div.interactionsList.zoom ul.interactionsList {
        width: 260px;
        -webkit-transition: all 0.2s ease-out; 
        transition: all 0.2s ease-out;
        
        top: inherit;
    }



    div.interactionsList ul.interactionsList li {
        list-style: none;
        background-color: rgba(210, 220, 228, 0.2);

        width: 130px;
        padding: 0px 28px;

        margin: 0px;
        
        font: 11px/14px Light;
        color: #FFFFFF;
        
        -webkit-transition: all 0.2s ease-out; 
        transition: all 0.2s ease-out;
    }
    
    div.columns ul.interactionsList > li:nth-child(2n) {
        background-color: rgba(210, 220, 228, 0.3);
    }
    
    div.columns ul.interactionsList li li {
        padding: 0px;
        background-color: transparent; 
    }

    div.interactionsList.zoom ul.interactionsList > li {
        width: 190px;
        padding: 0px 30px;

        
        font: 19px/21px Light;
    }
    
    div.interactionsList.zoom ul.interactionsList li { font: 19px/21px Light; }
    
    div.columns ul.interactionsList li.major, div.columns ul.interactionsList li span.major {
        font: 11px/12px Normal;
    }
    
    div.interactionsList.zoom ul.interactionsList li.major, div.interactionsList.zoom ul.interactionsList li span.major {
        font: 19px/21px Normal;
    }

    *{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    div#listDrag {
        width: 780px;
        height: 100px;

        position: absolute;

        top: 600px;
        left: 122px;
    }

    div#dragSpace {
        position: relative;
        overflow: visible;


        width: 780px;
        height: 90px;

        z-index: 5000;

        top: 0px;
        left: 0px;
    }

    .draggable,
    .notDraggable {
        width: 186px;
        height: 49px;

        background-color: rgba(245,245,245, 0.2);
        position: absolute;
        z-index: 6000;

        font: 19px/44px Normal;
        color: #FFFFFF;

        text-transform: uppercase;

        border-radius: 5px;

        line-height: 49px;
        vertical-align: middle;
        text-align: center;
    }

    .notDraggable {
        z-index: 100;
        background-color: rgba(35, 35, 35, 0.1);
        color: rgba(245,245,245, 0.2);
    }

    .button.disabled {
        opacity: 0.4;
        -webkit-transition: opacity 2s linear;
    }

    .draggable.correct,
    .draggable.incorrect {
        border: 2px solid rgba(245,245,245, 0.95);
        width: 140px;
        height: 44px;

        line-height: 44px;
        vertical-align: middle;
        text-align: center;

    }
    .draggable.correct {
        background: #558a0a;
    }

    .draggable.incorrect {
        background: #b4003f;
    }

    .drag0 {
        left: 200px;
    }

    .drag1 {
        left: 398px;
    }
    .drag2 {
        left: 596px;
    }

    .draggable.dragging {
        position: absolute;
        z-index: 6000;
    }

    .dropAreaContainer {
        position: relative;
        z-index: 100;
    }

    .dropArea {
        width: 184px;
        height: 44px;

        line-height: 44px;
        vertical-align: middle;
        text-align: center;

        background-color: rgba(210, 220, 228, 0.2);
        border: 2px solid rgba(245,245,245, 0.95);

        box-shadow: 1px 1px 3px #333333;
        border-radius: 5px;

        display: inline-block;
    }

    .dropArea.indicateDroppable {
        background-color: rgba(255,255,255,0.4);
    }

    .dropArea.draggableOverDroppable {
        background-color: rgba(255,0,0,0.4);
    }

    div.buttons a.button {
        margin: 0px 12px;
    }

    div.answerBack {
        width: 232px;

        background-color: rgba(33, 39, 34, 0.2);

        padding: 68px 14px 0px 14px;

        position: absolute;
        top: 240px;
        left: -40px;

        font: 20px/24px light;
        text-align: center;
    }

    .answerBack.center {
        width: 292px;
        left: 254px;
        top: 296px;
    }

    .answerBack.right {
        left: 622px;
        top: 240px;
    }

    /********************************************************************************************************  2.2.6 ***

    Tissue Penetration Page 0 (Before Figaro and Gus)

    *******************************************************************************************************************/

    div.yAxisLabel div {
        width: 100px;
        position: absolute;
        left: -34px;

        color: #FFFFFF;
    }

    div.rotateCCW90 {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        font: 20px/24px Normal;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    div.yAxisLabel img.axisBar {
        position: absolute;
        left: 38px;
        top: 4px;
    }

    div.yAxisLabel div.min {
        bottom: 46px;
    }

    div.yAxisLabel div.max {
        text-align: right;
        top: 46px;
    }

    div#stackList div.yAxisLabel {
        display: inline-block;

        width: 60px;
        height: 298px;

        vertical-align: top;
    }

    div#stackList {
        position: absolute;

        top: 270px;
        left: 0px;
    }

    div.buttonStack {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

        div.buttonStack .button,
        div.buttonStack .dropArea {
            display: block;
            height: 45px;

            min-width: 60px;

            background-color: rgba(33, 39, 44, 0.6);

            border-radius: 5px;

            margin: 0px;
            padding: 0px;

            text-align: center;
            line-height: 45px;
            vertical-align: middle;

            color: #FFFFFF;
            font: 20px/45px Normal;

            margin: 2px 5px 5px 5px;
        }

        div.buttonStack .dropArea {
            margin: 2px 5px 3px 5px;
        }

    div#dragSpace.buttonStack.longButtons {
        width: 460px;
        margin: 0px;
        padding: 0px;
    }

    div#averageSelections.buttonStack {
        width: 220px;
    }

    div#dragSpace.buttonStack.longButtons div {
        margin: 0px;
        padding: 0px;
    }

        div#dragSpace.buttonStack.longButtons div.button {
            margin: 2px 5px 3px 5px;
        }

        div#dragSpace.buttonStack {
            left: 0px;
            top: 0px;

            vertical-align: top;
        }

        div.buttonStack .button.col6 {
            height: 45px;
            width: 460px;

            border: 0px none;
        }

        div#dropSpace.buttonStack {
            position: absolute;
            left: 138px;
            top: 0px;
        }
        div.buttonStack .dropArea.col6 {
            width: 460px;
            height: 45px;

            border: 0px none !important;
            background-color: transparent;
            box-shadow: none;
        }

        div.buttonStack .button.draggable.drag0,
        div.buttonStack .button.draggable.drag1,
        div.buttonStack .button.draggable.drag2,
        div.buttonStack .button.draggable.drag3,
        div.buttonStack .button.draggable.drag4,
        div.buttonStack .button.draggable.drag5 {
            display: block;

            position: absolute;
            top: inherit;
            left: inherit;
        }

        div.buttonStack .button.draggable.drag0 { top: 0px; }
        div.buttonStack .button.draggable.drag1 { top: 50px; }
        div.buttonStack .button.draggable.drag2 { top: 100px; }
        div.buttonStack .button.draggable.drag3 { top: 150px; }
        div.buttonStack .button.draggable.drag4 { top: 200px; }
        div.buttonStack .button.draggable.drag5 { top: 250px; }

        div#averageSelections .button {
            text-transform: uppercase;
            font: 20px/45px Normal;
            color: #FFFFFF;

            opacity: 0;
            position: absolute;
            width: 210px;
        }

        div#averageSelections .button.reveal {
            opacity: 0;
            width: 10px
        }

        div.buttonStack .rank0, div#averageSelections .button.colour0 { background-color: #d37216; }
        div.buttonStack .rank1, div#averageSelections .button.colour1 { background-color: #cd5b1e; }
        div.buttonStack .rank2, div#averageSelections .button.colour2 { background-color: #c64327; }
        div.buttonStack .rank3, div#averageSelections .button.colour3 { background-color: #c02d2f; }
        div.buttonStack .rank4, div#averageSelections .button.colour4 { background-color: #ba1737; }
        div.buttonStack .rank5, div#averageSelections .button.colour5 { background-color: #b4003f; }


    .activityControls {
        position: absolute;
        top: 642px;
        height: 100px;
        width: 1024px !important;
        margin: 0 !important;
    }
    
    .activityControls .col6.centered, .activityControls .col7.centered {
    	float: none;
    	margin: 0px auto !important;
    	}

/********************************************************************************************************  2.2.7 ***

Tissue Penetration Pages 1-3

*******************************************************************************************************************/

/* fixes flicker when webkit transitions a webkit transform... */
.noFlick { -webkit-transform:translate3d(0,0,0); }

div#teleprompter {
	height: 60px;
	background-color: #21272c;
	width: 780px;
	/*
	    I realise this should be 95% transparency but I've culled it for
	    the sake of efficiency.
	*/
	
	position: absolute;
	top: 601px;
	padding: 0px 122px;
	line-height: 60px;
	overflow: hidden;
    }


div#teleprompter div { position: relative; top: 60px; }

div#teleprompter p {
	color: #fff;
	font-family: Normal;
	margin: 0px;
	}
	

/****** the drip bag ******/

#dripBag {
	width: 242px;
	height: 647px;
	background: url('dripBag_bagBackground.png') transparent no-repeat 0 0;
	position: absolute;
	left: 782px;
	top: 115px;
	z-index: 100;
	overflow: visible;
	}
	
	
#dripBag div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
	}
	
	
#dripBag .bagMask {
	-webkit-mask: url('dripBag_mask.png') no-repeat 0 0;
	overflow: hidden;
	height: 647px;
	}
	
#dripBag .bagMask .bagFluid {
	background: url('dripBag_bagFluid.png') transparent no-repeat 0 0;
	z-index: 5;
	}	

#dripBag .bagGlow {
	background: url('dripBag_bagGlow.png') transparent no-repeat 0 0;
	z-index: 10;
	}
	
#dripBag .adjustHandle {
	background: url('dripBag_adjustHandle.png') transparent no-repeat 0 0;
	width: 145px;
	height: 42px;
	position: absolute;
	left: -130px;
	top: 91px;
	
	}



/****** Figure 0 (Figaro) ******/

#figaro {
	width: 403px;
	height: 395px;
	background: url('figaro_Background.png') transparent no-repeat 0 0;
	float: left;
	position: relative;
	left: -30px;
	}

#figaro div {
	width: 403px;
	height: 395px;
	position: absolute;
	top: 0;
	left: 0px;
	text-indent: -9999px;
	}
	

#figaro .figaroVeins {
	background: url('figaro_Veins.png') transparent no-repeat 0 0;
	z-index: 0;
	}
	
#figaro .orangeVeins {
	background: url('figaro_Veins_Orange.png') transparent no-repeat 0 0;
	z-index: 5;
	opacity: 0;
	}
	
#figaro .figaroOrgans {
	background: url('figaro_Organs.png') transparent no-repeat 0 0;
	z-index: 10;
	}
	
#figaro .orangeOrgans {
	background: url('figaro_Organs_Orange.png') transparent no-repeat 0 0;
	z-index: 15;
	opacity: 0;
	}
	
#figaro .figaroLabels {
	background: url('figaro_Labels.png') transparent no-repeat 0 0;
	z-index: 20;
	display: none;
	}
	

/****** Figaro 2 ******/

#figaro.figaro2 {
	width: 390px;
	height: 360px;
	background: url('figaro_2_bg.png') transparent no-repeat 0 0;
	float: left;
	position: relative;
	left: -20px;
	top: 20px;
	}

#figaro.figaro2 .figaroOrgans {
	background: url('figaro_2_organs.png') transparent no-repeat 0 0;
	z-index: 10;
	}
	
#figaro.figaro2 .orangeOrgans {
	background: url('figaro_2_organs_orange.png') transparent no-repeat 0 0;
	z-index: 15;
	opacity: 0;
	}


/****** Figaro 3 ******/


#figaro.figaro3 { left: 50px; }

#figaro.figaro3 .figaroVeins { opacity: 0.2; }
	
	
#figaro.figaro3 .figaroLabels { background: url('figaro_3_Labels.png') transparent no-repeat 0 0; }

#figaro.figaro3 .figaroLabels .labelDot {
	background: #d37216;
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	-webkit-transform: scale(1);
	-webkit-backface-visibility: hidden; /* fixes flicker on this element.. */
	}
	
.labelDot#labelDot1		{	left: 199px; top:  31px; }
.labelDot#labelDot2		{	left: 199px; top: 143px; }
.labelDot#labelDot3		{	left: 238px; top: 191px; }
.labelDot#labelDot4		{	left: 164px; top: 278px; }


/****** Penetration graphs ******/


div#hidden1, div#hidden2 { opacity: 0; } /* initially set the graphs invisible */

.penetrationGraph {
	width: 212px;
	height: 106px;
	background: url('graph_penetration_1_bg.png') transparent no-repeat 0 0;
	position: relative;
	margin: 15px 0px 20px;
	}
	
	
.penetrationGraph#penGraph2 { background: url('graph_penetration_2_bg.png') transparent no-repeat 0 0; }

.penetrationGraph div {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
	}
	

.penetrationGraph div.penLines 				{ background: url('graph_penetration_1_line.png') transparent no-repeat 0 0; }
.penetrationGraph div.penDots 				{ background: url('graph_penetration_1_dots.png') transparent no-repeat 0 0; }

.penetrationGraph#penGraph2 div.penLines 	{ background: url('graph_penetration_2_line.png') transparent no-repeat 0 0; }
.penetrationGraph#penGraph2 div.penDots 	{ background: url('graph_penetration_2_dots.png') transparent no-repeat 0 0; }



/***** petri dishes ******/


.petriDish {
	width: 210px;
	height: 140px;
	background: url('graph_petriDish_bg.png') transparent no-repeat 0 0;
	position: relative;
	margin: 15px 0px 25px;
	}
	
.petriDish div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
	z-index: 5;
	}
	
.petriDish div.zoom {
	background: url('petriDish_zoom.png') transparent no-repeat 0 0;
	width: 185px;
	height: 170px;
	left: -185px;
	top: 0px;
	z-index: 0;
	}
	
.petriDish#dish2 div.zoom {
	-webkit-transform: scale(1,-1);
	top: -30px;
	}


.petriDish div.orangeGlow {
	width: 102px;
	height: 102px;
	position: relative;
	margin: 0px auto;
	top: 7px;
	padding: 12px;
	background: #d37216;
	opacity: 0; /* we will animate this to 1, then change the background to white to flash/fade out quickly */
	border-radius: 100px;
	z-index: 10;
	box-shadow: 0px 0px 80px #f3d9c0;
	}
	
.petriDish div.aspergillus { 
	-webkit-transform: scale(1); 
	-webkit-transition: -webkit-transform 6s ease-in-out; 
	-webkit-backface-visibility: hidden; /* fixes flicker on this element.. */
	
	background: url('petriDish_aspergillus.png') transparent no-repeat 0 0; 
	}

.petriDish div.aspergillus.reduced { 
	-webkit-transform: scale(0.35) rotate(-28deg);
	}


.petriDish div.candida .candida1 { background: url('petriDish_candida_1.png') transparent no-repeat 0 0;  }
.petriDish div.candida .candida2 { background: url('petriDish_candida_2.png') transparent no-repeat 0 0; opacity: 0;  }



/********************************************************************************************************  2.2.8 ***

Site of Action

*******************************************************************************************************************/


.siteOfAction div#dragSpace {
	position: absolute;
	overflow: visible;

	top: 170px;
	left: 50%;
	
	width: 880px;
	height: 332px;
	
	margin: 0px 0px 0px -400px;
	
	z-index: 5000;
}

div#dragSpace #ambisome {
	background: #d37216;
	}
	
.siteOfAction div.dragSpace {
	height: 532px;
}

.siteOfAction .draggable,
.siteOfAction .notDraggable {
	width: 144px;
	height: 49px;
	
	background-color: rgba(245,245,245, 0.2);
	position: absolute;
	z-index: 6000;
	
	top: 432px;
	
    font: 19px/44px Normal;
   	color: #FFFFFF;
   	
   	text-transform: uppercase;
   	
   	border-radius: 5px;
}

.siteOfAction .notDraggable {
    z-index: 100;
	background-color: rgba(35, 35, 35, 0.1);
	color: rgba(245,245,245, 0.2);
}

.siteOfAction .draggable.correct,
.siteOfAction .draggable.incorrect {
    border: 2px solid rgba(245,245,245, 0.95);
    width: 140px;
    height: 44px;
    
    line-height: 44px;
	vertical-align: middle;
	text-align: center;

}
.siteOfAction .draggable.correct {
    background: #558a0a;
}

.siteOfAction .draggable.incorrect {
    background: #b4003f;
}

.siteOfAction .drag0, .drag1, .drag2 {
    line-height: 49px;
    vertical-align: middle;
    text-align: center;
}

.siteOfAction .drag0 {
    left: 180px;
}

.siteOfAction .drag1 {
    left: 332px;
}
.siteOfAction .drag2 {
    left: 483px;
}

.siteOfAction .draggable.dragging {
	position: absolute;
	z-index: 6000;
}

.siteOfAction .dropAreaContainer {
	position: relative;
	z-index: 100;
}

.siteOfAction .dropArea {
	width: 140px;
	height: 44px;
	
	line-height: 44px;
	vertical-align: middle;
	text-align: center;
	
	background-color: rgba(210, 220, 228, 0.2);
	border: 2px solid rgba(245,245,245, 0.95);

	box-shadow: 1px 1px 3px #333333;
	border-radius: 5px;
	
	position: absolute;
}

.siteOfAction .dropArea.indicateDroppable {
	background-color: rgba(255,255,255,0.4);
}

.siteOfAction .dropArea.draggableOverDroppable {
	background-color: rgba(255,0,0,0.4);
}

.siteOfAction div.buttons a.button {
    margin: 0px 12px;
}

.siteOfAction div.answerBack {
    width: 232px;
    
    background-color: rgba(33, 39, 34, 0.2);
    
    padding: 68px 14px 0px 14px;
    
    position: absolute;
    top: 240px;
    left: -40px;
    
    font: 20px/24px light;
    text-align: center;
}

.siteOfAction .answerBack.center {
    width: 292px;
    left: 254px;
    top: 296px;
}

.siteOfAction .answerBack.right {
    left: 622px;
    top: 240px;
}


/*************************************************************************************************************  2.3  ***

Timeline

***********************************************************************************************************************/


#timelineContainer {
	background: url('backgroundTimeline.jpg') transparent no-repeat 0px 0px;
	height: 774px;
	width: 1024px;
	margin: 0px auto;
	position: relative;
	top: -6px;
	left: 0;
	
/*	-webkit-transition: top 0.5s ease-in-out;*/
	}
	
#timelineContainer #container { background: transparent; }

#timelineContainer .columns { height: 100%; overflow: visible; }

#timelineContainer h1 { margin-top: 60px; }


/* position of the timeline */
#timeline { 
	position: absolute; 
	left: 0px; 
	top: 215px;
	height: 400px;
	width: 12490px; 
	/*-webkit-transition: left 3s ease-in-out;*/
	}

#timeline #ekgBackground {
	position: absolute; 
	left: 0px; 
	top: 0px;
	height: 400px;
	width: 0px; 
	background: url('timeline_ekg.png') transparent no-repeat 0% 50%;
	/*-webkit-transition: width 3s ease-in-out;*/
	}


.timemarks {
	background: url('timeline_timeMarks.png') transparent no-repeat 0px 0px;
	border-top: 2px solid #d37216;
	width: 100%;
	height: 76px;
	position: absolute;
	bottom: 0px;
	}
	
.timemarks hgroup { position: absolute; bottom: 0px; }
.timemarks hgroup h3 { margin: 0; }


#timeline .event a.button {
	margin-left: 80px;
	float: right;
	overflow: visible;
	border-top: 1px solid rgba(202,159,159,1);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,	
		color-stop(  0, rgba(116, 0, 0,1)),
		color-stop(0.9, rgba(181,1,64,1)),
		color-stop(  0.96, rgba(210,30,93,1))
	);
	}

#timeline .event a.button img {
	float: left;
	position: relative;
	top: -40px;
	margin: 0px -20px 0px -8px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	}

#timeline .event a.button:active img { -webkit-transform: scale(1.03) rotate(-1deg); -webkit-transition: -webkit-transform .2s ease-in-out; }

/**** days ****/

.day {
	position: absolute;
	width: 960px;
	height: 380px;
	top: 0px;
	margin: 0px;
	}

/* day positions */
#day1  { left:    10px; } /* +960px each time */
#day2  { left:   970px; }
#day3  { left:  1930px; }
#day4  { left:  2890px; }
#day5  { left:  3850px; }
#day6  { left:  4810px; }
#day7  { left:  5770px; }
#day8  { left:  6730px; }
#day9  { left:  7690px; }
#day10 { left:  8650px; }
#day11 { left:  9610px; }
#day12 { left: 10570px; }
#day13 { left: 11530px; } /* total timeline width - 12490px */



/**** events ****/

.event { 
	position: absolute;
	background: url('timeline_eventMarker.png') transparent no-repeat 0% 100%;
	overflow: hidden;
	min-width: 300px;
	min-height: 100px;
	}
	
.event hgroup {
	position: relative;
	left: 50px;
	top: 0px;
	overflow: hidden;
	margin-bottom: 70px;
	float: left;
	}	
	
.event h2 { 
	margin-bottom: 0px; 
	letter-spacing: 0.05em; 
	font: 24px/22px Normal; 
	}

.event h3 { 
	color: #dca877; 
	text-transform: none; 
	letter-spacing: 0.04em; 
	font: 20px/24px Normal;
	margin-bottom: 0px;
}


/* event positions */

#day1_event1 { top: 120px; left: 196px; }
#day1_event2 { top: 92px; left: 460px; }

#day4_event1 { top: 121px; left: 80px; }
#day4_event2 { top: 122px; left: 420px; }


#day6_event1 { top: 64px; left: 70px; }

#day13_event1 { top: 110px; left: 150px; }


/*************************************************************************************************************  2.4  ***

Buttons, Form Elements

***********************************************************************************************************************/



input, a.button, label, form { display: block; overflow: hidden; position: relative; z-index: 50; margin-right: 0 !important; }

input[type="button"], a.button {
	height: 44px;
	padding: 0px;
	margin: 0px 0px 10px;
	
	-webkit-border-radius: 1px;
	
	border: 0;
	border-top:    1px solid rgba(213,177,159,1);
	border-bottom: 1px solid rgba(159,73,0,1);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,	
		color-stop(  0, rgba(146, 49, 0,1)),
		color-stop(0.9, rgba(213,116,24,1)),
		color-stop(  0.96, rgba(241,144,52,1))
	);

	font: 19px/44px Normal;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.1em;
	cursor: pointer;
	
	-webkit-box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
	
	position: relative;
	top: 0px;
	-webkit-user-select: none;
	z-index: 5;


}

input[type="button"]:active, a.button:active { 
	top: 1px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	}
	
input[type="button"]:disabled { 
	background-position: 0px -100px;
	top: 0px;
	-webkit-border-radius: 9px;
	}

input[type="button"].floatRight {
    float: right;
}


input[type="number"], 
input[type="text"] {
	-webkit-border-radius: 4px;
	width: 60px;
	height: 25px;
	padding: 8px 8px 0px;
	background: url('inputBG.png') #fff repeat-x;
	border: 1px solid #808080;
	font-size: 12px;
	font-family: helvetica, arial;
	color: #333;
	text-align: center;
	float: left;
	}
	



input[type="number"]:disabled {
    -webkit-text-fill-color: #666666;
}
	
input[type="text"] {
	width: 140px;
	text-align: left;
}

label { 
	padding: 8px 0px 0px; 
	}


	

/* Range slider */

input[type="range"], .slider {
    -webkit-appearance:none;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 7px;
    background: rgba(0,0,0,0.4);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6), 0px 1px 0px rgba(210,220,228,0.5);
    cursor: pointer;
    margin: 40px 0px 70px;
    padding: 0px;
}

.slider { position: relative;  }
.handle { position: absolute; top: -20px; z-index: 60; }
 /* .handle:active { top: -20px; } */


input[type="range"]::-webkit-slider-thumb, .handle {
    -webkit-appearance: none;
    width: 88px;
    height: 102px;
    padding: 10px 0px;
    background: url('sliderHandle.png') transparent no-repeat 50% 50%;
    cursor: pointer;
    display: block;
}
	
.range { /* this is the extra input element that is generated - stores the field value. */
	display: none;
	}
	
	
.rangeValue { overflow: visible; margin: -71px 0px 0px; height: 180px; }

.rangeValue div {
	background: url('sliderMarker.png') transparent no-repeat 50% 0%;
	display: block;
	width: 10%;
	float: left;
	
	padding: 60px 0px 0px;
	overflow: visible;
	font: 18px/20px Normal;
	letter-spacing: 0.04em;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
	
	-webkit-transition: text-shadow .15s linear;
	
	}
	
	
.rangeValue div.active { color: #fff; text-shadow: -1px -1px 1px rgba(0,0,0,0.2), 0px 0px 12px rgba(255,255,255,0.9); }


/* for labels that are angled 45 degrees */	
.rangeValue div span {
	position: absolute;
	display: block;
	text-align: right;
	-webkit-transform: rotate(-45deg);
	top: 115px;
	right: 0px;
	width: 200px;
	word-wrap: nowrap;
	}
	
/* default handle position for 10 increments */
.handle { margin: -30px -12px 0px -12px; }


/* 
	
	Setup of varying range increments.

	See above for default setup.

	Left & right margins define the position of handle relative to increment markers
	Changing number of increments necessitates adjusting the handle position.
	Trial and error is the way to find the position!
	Note: margin left/right of 0px (zero) breaks the slider (for reasons unknown)

*/


.range3 .rangeValue div {
	width: 33%;
	}
	
.range3 .handle { margin: -30px 60px 0px 60px; }

.rangeValue.hospitalProtocol div span {
    position: relative;
    left: -50px;
    top: 50px;
}

.range4 .rangeValue div {
	width: 25%;
	}
	
.range4 .rangeValue div span {
    left: 50%;
	margin-left: -160px;
	}
	
.range4 .handle { margin: -30px 34px 0px 34px; }

/* range of 5 increments */
.range5 .rangeValue div {
	width: 25%;
	}
	
.range5 .handle { margin: -30px 18px 0px 18px; }



.range8 .rangeValue div {
    width: 12.5%;
    }
.range8 .handle { margin: -30px -2px 0px -6px; }


/*********************

webkit default fixes

**********************/


/* Removes the incremental spinner for number fields */	

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    
input:focus { outline: none; }
    
/* Placeholder text color */
    
input::-webkit-input-placeholder {
	color: #333;
}

span.radio, span.checkbox, input { margin-bottom: 15px; }



/*************************************************************************************************************  2.5  ***

Tooltips

***********************************************************************************************************************/


	

/* jQuery qtip */

.ui-tooltip-fluid{display:block;visibility:hidden;position:static!important;float:left!important;}.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;}.ui-tooltip-content{position:relative;padding:5px 9px;overflow:hidden;border-width:1px;border-style:solid;text-align:left;word-wrap:break-word;overflow:hidden;}.ui-tooltip-titlebar{position:relative;min-height:14px;padding:5px 35px 5px 10px;overflow:hidden;border-width:1px 1px 0;border-style:solid;font-weight:bold;}.ui-tooltip-titlebar+.ui-tooltip-content{border-top-width:0!important;}/*!Default close button class */ .ui-tooltip-titlebar .ui-state-default{position:absolute;right:4px;top:50%;margin-top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid;}* html .ui-tooltip-titlebar .ui-state-default{top:16px;}.ui-tooltip-titlebar .ui-icon,.ui-tooltip-icon .ui-icon{display:block;text-indent:-1000em;}.ui-tooltip-icon,.ui-tooltip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.ui-tooltip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em;}/*!Default tooltip style */ .ui-tooltip-titlebar,.ui-tooltip-content{border-color:#F1D031;background-color:#FFFFA3;color:#555;}.ui-tooltip-titlebar{background-color:#FFEF93;}.ui-tooltip-titlebar .ui-tooltip-icon{border-color:#CCC;background:#F1F1F1;color:#777;}.ui-tooltip-titlebar .ui-state-hover{border-color:#AAA;color:#111;}/*!Normal tooltip style */ .ui-tooltip-light .ui-tooltip-titlebar,.ui-tooltip-light .ui-tooltip-content{border-color:#E2E2E2;color:#454545;}.ui-tooltip-light .ui-tooltip-content{background-color:white;}.ui-tooltip-light .ui-tooltip-titlebar{background-color:#f1f1f1;}/*!Dark tooltip style */ .ui-tooltip-dark .ui-tooltip-titlebar,.ui-tooltip-dark .ui-tooltip-content{border-color:#303030;color:#f3f3f3;}.ui-tooltip-dark .ui-tooltip-content{background-color:#333333;}.ui-tooltip-dark .ui-tooltip-titlebar{background-color:#404040;}.ui-tooltip-dark .ui-tooltip-icon{border-color:#444;}.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover{border-color:#303030;}/*!Cream tooltip style */ .ui-tooltip-cream .ui-tooltip-titlebar,.ui-tooltip-cream .ui-tooltip-content{border-color:#F9E98E;color:#A27D35;}.ui-tooltip-cream .ui-tooltip-content{background-color:#FBF7AA;}.ui-tooltip-cream .ui-tooltip-titlebar{background-color:#F0DE7D;}.ui-tooltip-cream .ui-state-default .ui-tooltip-icon{background-position:-82px 0;}/*!Red tooltip style */ .ui-tooltip-red .ui-tooltip-titlebar,.ui-tooltip-red .ui-tooltip-content{border-color:#D95252;color:#912323;}.ui-tooltip-red .ui-tooltip-content{background-color:#F78B83;}.ui-tooltip-red .ui-tooltip-titlebar{background-color:#F06D65;}.ui-tooltip-red .ui-state-default .ui-tooltip-icon{background-position:-102px 0;}.ui-tooltip-red .ui-tooltip-icon{border-color:#D95252;}.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover{border-color:#D95252;}/*!Green tooltip style */ .ui-tooltip-green .ui-tooltip-titlebar,.ui-tooltip-green .ui-tooltip-content{border-color:#90D93F;color:#3F6219;}.ui-tooltip-green .ui-tooltip-content{background-color:#CAED9E;}.ui-tooltip-green .ui-tooltip-titlebar{background-color:#B0DE78;}.ui-tooltip-green .ui-state-default .ui-tooltip-icon{background-position:-42px 0;}/*!Blue tooltip style */ .ui-tooltip-blue .ui-tooltip-titlebar,.ui-tooltip-blue .ui-tooltip-content{border-color:#ADD9ED;color:#5E99BD;}.ui-tooltip-blue .ui-tooltip-content{background-color:#E5F6FE;}.ui-tooltip-blue .ui-tooltip-titlebar{background-color:#D0E9F5;}.ui-tooltip-blue .ui-state-default .ui-tooltip-icon{background-position:-2px 0;}.ui-tooltip .ui-tooltip-tip{margin:0 auto;overflow:hidden;background:transparent!important;border:0 dashed transparent!important;z-index:10;}.ui-tooltip .ui-tooltip-tip,.ui-tooltip .ui-tooltip-tip *{position:absolute;line-height:.1px!important;font-size:.1px!important;color:#123456;background:transparent;border:0 dashed transparent;}.ui-tooltip .ui-tooltip-tip canvas{position:static;}/*!Add shadows to your tooltips in:FF3+,Chrome 2+,Opera 10.6+,IE6+,Safari 2+*/ .ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);}.ui-tooltip-shadow .ui-tooltip-titlebar,.ui-tooltip-shadow .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.Shadow(Color='gray',Direction=135,Strength=3);-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color='gray',Direction=135,Strength=3)";_margin-bottom:-3px;.margin-bottom:-3px;}/*!Add rounded corners to your tooltips in:FF3+,Chrome 2+,Opera 10.6+,IE9+,Safari 2+*/ .ui-tooltip-rounded,.ui-tooltip-rounded .ui-tooltip-content,.ui-tooltip-tipsy,.ui-tooltip-tipsy .ui-tooltip-content,.ui-tooltip-youtube,.ui-tooltip-youtube .ui-tooltip-content{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.ui-tooltip-rounded .ui-tooltip-titlebar,.ui-tooltip-tipsy .ui-tooltip-titlebar,.ui-tooltip-youtube .ui-tooltip-titlebar{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}.ui-tooltip-rounded .ui-tooltip-titlebar+.ui-tooltip-content,.ui-tooltip-tipsy .ui-tooltip-titlebar+.ui-tooltip-content,.ui-tooltip-youtube .ui-tooltip-titlebar+.ui-tooltip-content{-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}/*!Youtube tooltip style */ .ui-tooltip-youtube{-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;}.ui-tooltip-youtube .ui-tooltip-titlebar,.ui-tooltip-youtube .ui-tooltip-content{background:transparent;background:rgba(0,0,0,0.85);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";color:white;border-color:#CCC;}.ui-tooltip-youtube .ui-tooltip-icon{border-color:#222;}.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover{border-color:#303030;}.ui-tooltip-jtools{background:#232323;background:rgba(0,0,0,0.7);background-image:-moz-linear-gradient(top,#717171,#232323);background-image:-webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323));border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333;}.ui-tooltip-jtools .ui-tooltip-titlebar{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";}.ui-tooltip-jtools .ui-tooltip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";}.ui-tooltip-jtools .ui-tooltip-titlebar,.ui-tooltip-jtools .ui-tooltip-content{background:transparent;color:white;border:0 dashed transparent;}.ui-tooltip-jtools .ui-tooltip-icon{border-color:#555;}.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{border-color:#333;}.ui-tooltip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,0.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,0.4);box-shadow:4px 4px 5px rgba(0,0,0,0.4);}.ui-tooltip-cluetip .ui-tooltip-titlebar{background-color:#87876A;color:white;border:0 dashed transparent;}.ui-tooltip-cluetip .ui-tooltip-content{background-color:#D9D9C2;color:#111;border:0 dashed transparent;}.ui-tooltip-cluetip .ui-tooltip-icon{border-color:#808064;}.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover{border-color:#696952;color:#696952;}.ui-tooltip-tipsy{border:0;}.ui-tooltip-tipsy .ui-tooltip-titlebar,.ui-tooltip-tipsy .ui-tooltip-content{background:transparent;background:rgba(0,0,0,.87);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";color:white;border:0 transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:bold;line-height:16px;text-shadow:0 1px black;}.ui-tooltip-tipsy .ui-tooltip-titlebar{padding:6px 35px 0 10;}.ui-tooltip-tipsy .ui-tooltip-content{padding:6px 10;}.ui-tooltip-tipsy .ui-tooltip-icon{border-color:#222;text-shadow:none;}.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{border-color:#303030;}.ui-tooltip-tipped .ui-tooltip-titlebar,.ui-tooltip-tipped .ui-tooltip-content{border:3px solid #959FA9;}.ui-tooltip-tipped .ui-tooltip-titlebar{background:#3A79B8;background-image:-moz-linear-gradient(top,#3A79B8,#2E629D);background-image:-webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";color:white;font-weight:normal;font-family:serif;border-bottom-width:0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}.ui-tooltip-tipped .ui-tooltip-content{background-color:#F9F9F9;color:#454545;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}.ui-tooltip-tipped .ui-tooltip-icon{border:2px solid #285589;background:#285589;}.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{background-color:#FBFBFB;color:#555;}


/* overrides */

.ui-tooltip-content {
	position: relative;
	padding: 6px 10px 9px 14px;
	overflow: hidden;
	border: 0;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	font-family: Normal;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.6;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
}


.ui-tooltip-content > p {
    margin: 0px;
    padding: 0px;
}

.ui-tooltip-content > p > a {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}

.ui-tooltip-content a {
	background: url('source.png') transparent no-repeat 0% 50%;
	padding-left: 30px;
	display: block;
	}

.ui-tooltip,.qtip {
	position:absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 400px;
	min-width: 50px;
	font-size: 9.5px;
	line-height: 12px;
}


.ui-tooltip .ui-tooltip-tip canvas {
    position: static;
   	-webkit-box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
}

.ui-tooltip .ui-tooltip-tip, .ui-tooltip .ui-tooltip-tip * {
	background: none repeat scroll 0 0 transparent;
	border: 0;
	color: #123456;
	font-size: 0.1px !important;
	line-height: 0.1px !important;
	position: absolute;
}

.ui-tooltip-content strong, .ui-tooltip-content em {
	font-weight: 400;
	font-style: normal;
	font-family: Normal;
}

div.ui-tooltip-content table.referenceTooltip {
    margin: 0px;
    padding: 0px;
}

div.ui-tooltip-content table.referenceTooltip td {
    border: 0px none;
    background-color: transparent;
    background-image: none;

    padding: 0px;
    margin: 0px;

    min-height: 14px;
    
    line-height: 100%;
}

div.ui-tooltip-content table.referenceTooltip td p {
    -webkit-line-break: normal;
    font-size: 14px;
    line-height: 125%;
    
    vertical-align: bottom;

    padding: 0px;
    margin: 0px 0px 4px 0px;
    
    text-align: left;
}

div.ui-tooltip-content table.referenceTooltip td p span.url {
    font-size: 9px;
    padding: 0px;
    margin: 0px;

    display: inline;

    word-wrap: break-word;
    word-break: break-word;
}

div.ui-tooltip-content table.referenceTooltip td.refCode {
    margin: 0px;
    padding: 0px 4px 0px 0px;
    
    line-height: 100%;
    
    font-size: 12px;
    
    text-align: right;
}

div.ui-tooltip-content table.referenceTooltip td p a {
    text-decoration: underline;
    color: #FFFFFF;
    padding: 0px 30px 0px 0px;
    margin: 0px;
    
    background-image: url('pdfIconTooltip.jpg');
    background-position: top right;
    
    -webkit-border-radius: 7px;
    
    text-align: justify;
}

div.ui-tooltip-content table.referenceTooltip td p a:active {
    color: #333333;
    background-color: #202020;
}


/*************************************************************************************************************  2.6  ***

Profile sidebar

***********************************************************************************************************************/

#profileBar {
	width: 390px;
	height: 728px;
	padding: 40px 100px 0px 42px;
	background: url('profile_background.png') transparent no-repeat 0 0;
	
	position: absolute;
	top: 0px;
	left: -440px;
	z-index: 20;

	-webkit-transition: left 0.4s ease-in-out;
	-webkit-user-select: none;
	}
	
#profileBar.noTreatment > div#treatment,
#profileBar.noTreatment > hr.treatment {
    display: none;
}

#profileBar.noRadiography > div#radiography,
#profileBar.noRadiography > hr.radiography {
    display: none;
}
	
#profileBar.active { left: 0px; }
		
#profileBar h2.largeh2 { 
	border-bottom: 1px solid rgba(255,255,255,0.2); 
	padding: 20px 0px 20px; 
	width: 97%;
	}
	
#profileBar img.thePatient { 
	position: relative;
	top: -10px;
	left: -5px;
	margin-right: 10px;
	}
	
#profileBar hr { 
	background: transparent; 
	border-top: 1px solid rgba(255,255,255,0.2);
	position: relative;
	height: 1px;
	line-height: 1px;
	width: 97%;
	margin: 0px;
	}

#profileBar .patientInfo { width: 200px; float: left; }

#profileBar ul.normal { margin: 0px 0px 30px 15px }

#profileBar ul.normal li {
	list-style-image: url('bulletPoint.png');
	padding-left: 5px;
	}
	

#radiography img.theXRay { position: relative; left: -18px; margin-right: -5px; }
