@CHARSET "UTF-8";


/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*************************************************

Page Basics

*************************************************/

html, body {
	height: 100%;
}

body {
	background: #f9f9f9;
	font-family: helvetica, arial, Sans-serif;
	font-size: 10pt;
	color: #666;
	line-height: 13pt;
}


#wrapper{
	width:960px;
	margin: 0px auto;
	padding: 60px 0px 0px;
	min-height: 100%;
}


#header, #main {
	overflow: hidden;
	display: block;
	width: 960px;
	margin: 0px 0px 60px;
}

#footer {
	font-size: 8pt;
	color: #999;
	width: 960px;
	margin: 0px auto;
}

p {
	margin-bottom: 10px;
}

/*************************************************

Header

*************************************************/

#logo { 
	float: left; 
	background: url('../images/w6_logo_sm.png') transparent no-repeat;
	_background: url('../images/w6_logo_sm.gif') transparent no-repeat;
	width: 165px;
	height: 44px;
	}
	
#logo h1, #logo a { 
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	}


/* navigation */

#globalnav {
	float: right;
	width: auto;
	margin: 20px 0px -20px;
	padding: 0;
	text-transform: uppercase;
}

#globalnav ul {
	overflow: hidden;
}

#globalnav li {
	float: left;
	display: block;
	margin: 0;
	}
	
*html #globalnav {
	width: 640px;
	}

* html #globalnav li {	
	width: 80px;
	}

#globalnav li a {
	width: auto;
	height: 30px;
	display: block;
	height: 100%;
	padding: 12px 0px 2px 10px;
	margin-left: 30px;
	font-size: 9pt;
	color: #666;
	text-decoration: none;
	letter-spacing: 0.15em;

}

#globalnav li a:hover {
	color: #000;
}

#globalnav li form {
	padding:3px 0px;
}




/*************************************************

Headings

*************************************************/

h1 {
	font-size: 16pt;
	margin-bottom: 10px;
	font-weight: normal;
	line-height: 20pt;
	color: #f57b20;
}



h3 {
	font-size: 12pt;
	margin-bottom: 10px;
	font-weight: normal;
}



/*************************************************

Dashboard

*************************************************/


/* Nav */

ul#dashNav {
	display: block;
	width: 990px;
	margin-right: -20px;
}

ul#dashNav li {	
	display: block;
	float: left;
	cursor: pointer;
	width: 268px;
	height: 50px;
	margin-right: 15px;
	padding: 190px 20px 30px;
	color: #bbb;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #eee;
}

ul#dashNav a { color: #444; }


ul#dashNav a:hover {
	color: #444;
}

.dash1 {
	background: url('../images/calls.png') #fff no-repeat 50% 25% !important;
	_background: url('../images/calls.gif') #fff no-repeat 50% 25% !important;
	
	}

.dash2 {
	background: url('../images/docs.png') #fff no-repeat 50% 25% !important;
	_background: url('../images/docs.gif') #fff no-repeat 50% 25% !important;
	}
	
.dash3 {
	background: url('../images/reps.png') #fff no-repeat 50% 25% !important;
	_background: url('../images/reps.gif') #fff no-repeat 50% 25% !important;
	}
	
.dash1:hover {
	background: url('../images/calls.png') #fdfdfd no-repeat 50% 25% !important;
	_background: url('../images/calls.gif') #fdfdfd no-repeat 50% 25% !important;
	}

.dash2:hover {
	background: url('../images/docs.png') #fdfdfd no-repeat 50% 25% !important;
	_background: url('../images/docs.gif') #fdfdfd no-repeat 50% 25% !important
	}
	
.dash3:hover {
	background: url('../images/reps.png') #fdfdfd no-repeat 50% 25% !important;
	_background: url('../images/reps.gif') #fdfdfd no-repeat 50% 25% !important;
	}

.dash1:hover, .dash2:hover, .dash3:hover  {
	border: 1px solid #ccc !important;
	}


/*************************************************

Links

*************************************************/


a,a:link {
	color:#222;
	text-decoration: none;
}

a:hover {
	color:#f57b20;
}



/*************************************************

Tables

#e5e5ec
#cbcbd4

*************************************************/



#users_grid_length {
	width: 160px;
	float: left;
	height: 30px;
	padding: 4px 0px 0px;
	}
	

#users_grid_filter {
	width: 320px;
	text-align: right;
	float: right;
	padding-right: 20px;
	}

#users_grid_filter input {
	margin-left: 20px;
}


#download, .download {
	width: 160px !important;
	float: right;
	margin-bottom: 15px;
	}



#users_grid {
	width: 960px !important;
	clear: both;
	font-size: 9pt;
	}

#users_grid tr {
	border-bottom: 2px solid #fff;
	}


#users_grid th.sorting {
	background: #f57b20;
	}
	
	
#users_grid th:hover, #users_grid th {
	text-align: center;
	font-size: 11pt;
	background: #f57b20;
	color: #fff;
	cursor: pointer;
	}
	
#users_grid td, #users_grid th {
	padding: 13px 10px 11px;
	border-right: 1px solid #fff;
	}
	
tr.even {
	background: #eee;
	}
	
tr.even .sorting_1 {
	background: #f9f9f9;
	}

tr.odd {
	background: #e3e3e3;
	}

tr.odd .sorting_1 {
	background: #f0f0f0;
	}
	
	
td.center {
	text-align: center;
	}
	
#users_grid_info {
	margin-top: 27px;
	width: 400px;
	float: left;
	}

#users_grid_paginate {
margin-top: 20px;
	width: 560px;
	float: right;
	text-align: right;
	}
	
.paginate_active, .paginate_button, #users_grid_first, #users_grid_last, #users_grid_next, #users_grid_previous {
	display: inline-block;
	height: 20px;
	width: 22px;
	padding: 6px 2px 1px;
	margin: 0px 2px;
	border: 1px solid #ddd;
	cursor: pointer;
	text-align: center;
	color: #777;
	}
	
.paginate_active {
	background: #f57b20;
	color: #fff;
	border: 1px solid #f57b20;
	cursor: default !important;
	}

.paginate_button_disabled {
	color: #ddd !important;
	cursor: default !important;
	border: 1px solid #ddd !important;
	background: transparent !important;
	}
	
.paginate_button:hover, #users_grid_first:hover, #users_grid_last:hover, #users_grid_next:hover, #users_grid_previous:hover {
	background: #efdada;
	color: #f57b20;
	border: 1px solid ##f57b20;
	color: #333;
	}

/*************************************************

Forms

*************************************************/


input, select {
	font-family: helvetica, arial, sans-serif;
	font-size: 11pt;
	height: 23px;
	padding: 5px 5px 2px;
	background: #ededed;
	border: 1px solid #ddd;
	color: #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: 230px;
	margin: 0px 0px 5px;
	outline: none;
	}
	
select {
	font-size: 10pt;
	width: 50px;
	padding: 6px 5px 3px;
	height: 26px;
	margin: 0px 7px 5px;
	outline: none;
	}
	
option { padding: 5px 0px; }
	
input:focus, input:active {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	outline: none;
	}

.formButton {
	width: 80px; 
	height: 32px;
	padding: 1px 0px 0px;
	background: #f57b20;
	color: #fff;
	border-color: #f57b20;
	cursor: pointer;
	}
	
.formButton:hover {
	background: #f57b20;
	}
	
.login {
	width: 80px; 
	margin-left: 160px;
	}
	
label {
	width: 160px;
	float: left;
	display: block;
	height: 20px;
	padding: 10px 0px 0px;	
	}

.message {
	margin: 10px 0px 0px 160px;
	background: #333;
	color: #fff;
	width: 220px;
	padding: 10px 10px 6px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	}


/*************************************************

Etc

*************************************************/





